entrypoint = "main.py"

modules = ["python-3.10:v40-20240117-0bd73cd"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_11"

[unitTest]
language = "python3"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5900
externalPort = 80
